#logo {
  margin: auto;
  width: 346px;
  height: 72px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

ul{

  margin-left: auto;
  margin-right: auto;
  padding-left:
}

#findARecipe{
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#recipeListDisplay{
  list-style: none;
  margin-top: 20px;;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

li{
  list-style: none;
  background-color: #ffffff;
  /* border-style: solid; */
  /* border-width: thin; */
  /* border-radius: 9px; */
  width: 70%;
  /* padding: 17px; */
  /* padding-left: 10px; */
  /* margin: auto; */
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#letsEat{
 
  margin: auto;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 20px 14px;
  display: block;
  width: 75%;
}

.d-flex{
  margin-top: 120px;
  display: flex!important;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#navbar {
  display: grid;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 500;
  background: rgb(0 101 129);
  height: 7rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-title{
  font-family: 'Exo 2', sans-serif;
    font-size: 40px;
    color: white;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    box-sizing: content-box;
    box-shadow: rgb(244 235 5 / 35%) -10px 17px 20px 11px;

}
#title {
  font-size: 16px;
  background-color: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: 'Exo 2', sans-serif;
  border-radius: 10px;
}

#ingredients {
  font-size: 12;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.body {
  background-color: rgb(250, 249, 240);
}

#card1 {
  width: 12%;
  margin-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: url("./images/image1.webp") ;
  background-size: cover;
}

#card2 {
  width: 30%;
  margin-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: url("./images/image2.webp") ;
  background-size: cover;
}

#card3 {
  width: 50%;
  height: 700px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: url("./images/image3.webp") ;
  background-size: cover;
}




